{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin Li</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type=""text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" \
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100" id="profile-card">
                    <img id="profile-pic" src="{% static 'images/prof_pic.png' %}" alt="Profile picture of me">
                    <hr>
                    <h4>Hi, I'm Justin!</h4>
                    <p>
                        Undergraduate student looking for software development opportunities. 
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body h-100">
                    <h4>About Me</h4>
                    <hr>
                    <p>
                        I am currently an undergraduate student at the University of Toronto St. George pursuing an Honour's Bachelor of Science. 
                        Currently I am enrolled as a Computer Science specialist along with minors in Statistics and Mathematics. I've always been
                        fascinated with the logic and uniqueness of programming, and I love the opportunities that computer science provides
                        me to turn complex challenges into elegant code. 
                    </p>
                    <p>
                        Outside of software development, I love playing and watching sports, listening to music, spending time with friends and family,
                        and traveling.
                    </p>

                    <a href="https://writing.colostate.edu/guides/documents/resume/functionalsample.pdf" target="_blank">View Resume</a>
                    <div class="list">
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/justin-li-b9a071220/" target="_blank"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>     
                            <li><a href="https://github.com/justinwli930" target="_blank"><img class="social" src="{% static 'images/github.png' %}"></a></li>
                            <li><a href="https://www.instagram.com/j.li30/" target="_blank"><img class="social" src="{% static 'images/instagram.png' %}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>What I Know & Personal Goals</h4>
                    <hr>
                    <p><strong>Coding Languages: </strong>Proficient in Python. Experienced in HTML, CSS, JavaScript, R.</p>
                    <p><strong>Libraries: </strong>Django, Hypothesis, Plotly, Pytest, Tidyverse</p>
                    <p>Currently working on Pygame, Flask, and Machine Learning.</p>

                    As I am entering my second year of university, in the short-term I am looking for internships or jobs that will
                    help me gain experience and insight into the field of software development. I am hopeful and eager to find an opportunity to
                    work in a bigger community and team, and learn from those with more experience than I have.  
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Projects</h4>
                    <hr>
                    <ul>
                        <li>
                            <strong>Personal Portfolio Website</strong> - Created a personal portfolio web app to practice front-end
                            development with HTML and CSS, as well as back-end development with Django. 
                        </li>
                    </ul>
                </div>
            </div>
        </div>

</body>
</html>